h1{
	font-size: 50px;
	color:rgb(0, 174, 255);
}

h3,h2{
	color: rgb(0, 174, 255);
} 

.sat{
	color: #cc0000;
}

form { 
	margin: 0 auto; 
	width:250px;
}

.navbar-nav {
    display: table;
    width: 100%;
	margin: 0;
	border-spacing: 10px;
	border-bottom: 3px inset #2f2f2f91;
	border-top: 3px solid #2f2f2f91;
}

.navbar-nav > li{
    float: none;
    display: table-cell;
	text-align: center;
	border: 2px solid #2f2f2f91;
	border-radius: 15px;
}

.navbar-nav  p{
	font-size: 20px;
	/* font-weight: bold; */
	margin: 0px 5px 0px 5px;
	text-shadow: rgb(0, 174, 255);
}

.navbar-nav  li:hover{
	background-color: rgba(0, 195, 255, 0.452);
	
}

#aktivan p{
	font-size: 23px;
	color: black;
}

body {
	font-family: 'Questrial', sans-serif;
	margin: 0;
	line-height: 1.5;
	background-color: #fdfdfd;
}

* {
	/* da bi se u visinu/duzinu elementa racunali padding i border */
	box-sizing: border-box;
}


.jumbotron {
	background-image: url('./img/ovo.jpg');
	width: 100%;
	padding: 50px;
	padding-bottom: 15%;
	max-width: 100%;
    background-attachment: fixed;
    color: blue;
}

.jumbotron-content {
	color: white;
	padding-left: 30px;
	padding-top: 10%;
	font-size: 18px;
}

.jumbotron h1 {
	margin: 0;
	font-size: 64px;
	letter-spacing: 3px;
	font-family: 'Anton', sans-serif;
	text-shadow: 0 0 5px black;
}

.jumbotron p {
	font-size: 20px;
	color: blue;
	text-shadow: 0 0 5px white;
}

/* MENI */

.meni {
	z-index: 990;
	position: absolute;
	top: 0;
	right: 50px;
}

.meni ul {
	list-style-type: none;
}

.meni li {
	display: inline-block;
}

.meni a {
	font-size: 18px;
	color: white;
	padding: 5px 15px;
	border-radius: 10px;
	text-decoration: none;
}

.meni a:hover {
	text-decoration: underline;
}

/* da tekst i elementi ne bi bili odmah to ivica ekrana */
.container {
	padding: 20px;
}



/* Naslovne vesti */

.naslovneVesti h1{
	margin-left: 6%;
	margin-top: 2.5%;
	margin-bottom: 0.66%;
}

.naslovneVesti hr {
	border-color: rgb(0, 174, 255);
	margin-left: 3%;
	border-width: 2px;
	margin-top: 0;
	width: 15%; 
}

.vest {
	padding: 10px 20px;
	margin: 10px;
	border-radius: 5px;
}

.vest {
	display: flex;
	justify-content: space-between;
	transition: 0.6s;
	cursor: pointer;
	padding: 20px;
}

.vest-slika {
	display: flex;
	align-items: center;
}

.vest img {
	max-height: 300px;
	max-width: 300px;
}

.flex-reverse {
	flex-direction: row-reverse;
}

.vest:hover {
	box-shadow: 0 5px 10px rgb(0, 174, 255), 0 5px 10px rgb(0, 174, 255);
}

.vest>div {
	padding: 0 20px;
}

.vest a {
	float: right;
}

.flex-reverse a {
	float: none;
}



.clanovi {
	display: flex;
	justify-content: space-around;
	padding: 3% 0;
}

.clan {
	background-color: white;
	box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
	border-radius: 12px;
	cursor: pointer;
	transition: 0.6s;
}

h1 {
	margin-bottom: 5px;
}

a.link {
	display: inline;

	transition: 0.6s;
    text-decoration: underline white;
}

a.link:hover {
	text-decoration: underline white;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(20%);
	}
}

.fas {
	font-size: 10px;
}

.info {
	padding: 5px 20px 20px;
}

.text-faded,
p {
	color: #4d4d4d
}

hr {
	border-color: black;
	border-width: 2px;
	width: 15%;
}

.projekat img {
	border-radius: 12px;
	max-height: 100%;
}

#menu-icon,
#close-icon {
	display: none;
}

/* KONTAKT FORMA */
form {
	background-color: white;
	/* box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07); */
	box-shadow: 0 5px 10px rgb(0, 174, 255), 0 5px 15px rgb(0, 174, 255);
	padding: 20px;
	margin-bottom: 1%;
	width: 45%;
}

input,
label {
	display: block;
}

label {
	font-size: 22px;
}

input,
textarea {
	padding: 5px;
	border: 0;
	border-bottom: 2px solid #00adcc;
}

input:focus {
	border-color: transparent;
	box-shadow: 0 5px 8px 0 5px 15px rgb(0, 174, 255);

}

.kontakt input,
.kontakt textarea {
	width: 100%;
	margin: 10px 0;
	border-color: rgb(0, 174, 255);
}

.kontakt button {
	background-color: #00adcc;
	border: 0;
	color: #fff;
	width: 100%;
	font-size: 20px;
	padding: 15px;
}

@media only screen and (max-width: 768px) {
	.jumbotron {
		background-size: cover;
		background-position: right;
	}

	.usluge,
	.clanovi {
		flex-direction: column;
	}

	form {
		width: 100%;
	}

	.usluge img {
		max-width: 100%;
	}

	.clan img {
		width: 100%;
	}

	.clan {
		margin: 10px;
	}

	.projekat {
		flex-direction: column;
	}

	.projekat img {
		max-width: 100%;
	}

	.usluga {
		max-width: 100%;
	}


	.meni {
		display: none;
		width: 100vw;
		height: 100vh;
		font-size: 26px;
		position: fixed;
		top: 0;
		left: 0;
		background-color: black;
		padding-top: 25%;
	}

	.meni li {
		display: block;
	}

	.meni li a {
		font-size: 42px;
	}	

	#menu-icon,
	#close-icon {
		display: block;
		position: absolute;
		top: 2%;
		right: 5%;
		color: white;

	}

	#close-icon {
		z-index: 9999;
		position: fixed;
		display: none;
	}

	
}


/* KONTAKT HTML */

.alert-box {
	background:#ffecec no-repeat 10px 50%;
    border:1px solid #f5aca6;
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
	margin:10px;
	visibility: hidden;
}



/*O NAMA*/


#tekst-onama{
	margin-left: 20%;
	margin-right: 20%;
}
h2 {
	text-align: center;
}
#kontakt {
	text-align: center;
}
#onama1{
	margin-left: 20%;
	width: 60%;
}
#naslov1{
	margin-left: 20%;
	font-size: 30px;
	color:rgb(0, 174, 255);
}
#onama2{
	margin-left: 20%;
	width: 60%;
	height: 300px;
}

/* FOOTER */

footer p{
	color: #ffffff;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{
	height: 100%;
	background-color: #2f2f2f91;
}

.sat{
	color: #00adcc;
}